<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--注：namespace的内容就是ProductMapper接口的全限定名-->
<mapper namespace="com.yingyi.org.mapper.DepartmentMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_department(sn, name, dirPath, state, manager_id, parent_id)
        values (#{sn}, #{name}, #{dirPath}, #{state}, #{manager_id}, #{parent_id})
    </insert>

    <update id="update">
        update t_department set sn = #{sn} , name = #{name}, dirPath = #{dirPath}, state = #{state}, manager_id = #{manager_id}, parent_id = #{parent_id}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from t_department where id = #{id}
    </delete>

    <select id="queryById" resultType="com.yingyi.org.domain.Department">
        select * from t_department where id = #{id}
    </select>

    <select id="queryAll" resultType="com.yingyi.org.domain.Department">
        select * from t_department
    </select>

    <select id="queryData" resultType="com.yingyi.org.domain.Department">
        select * from t_department limit #{begin}, #{pageSize}
    </select>

    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from t_department
    </select>


</mapper>